<mat-toolbar color="primary">
  <button mat-button routerLink="">
    <span>SW Challenge</span>
  </button>
  <span class="flex-spacer"></span>
  <!-- ADMIN MENU -->
  <button
    mat-button
    class="action-btn"
    [matMenuTriggerFor]="adminMenu"
    aria-label="Open admin menu"
  >
    <mat-icon class="icon">auto_fix_high</mat-icon>
    <span class="text">Admin</span>
  </button>
  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item (click)="handleFakeUserClick()">
      <mat-icon>smart_toy</mat-icon>
      <span>Generate Fake Friend</span>
    </button>
    <button mat-menu-item (click)="handleSeedDatabaseClick()">
      <mat-icon>dynamic_form</mat-icon>
      <span>Seed Database (x10)</span>
    </button>
  </mat-menu>
  <!-- <button mat-button routerLinkActive="--active" routerLink="users">
    <span>FRIENDS</span>
  </button> -->
</mat-toolbar>
