<section class="tile">
  <div class="header">
    <h2>All Friends</h2>
    <button
      mat-mini-fab
      color="accent"
      (click)="handleNewConnectionClick()"
      aria-label="Add connection button"
      matTooltip="Create a Connection"
    >
      <mat-icon>social_distance</mat-icon>
      <!-- <span>Create a Connection</span> -->
    </button>
    <button
      mat-mini-fab
      color="accent"
      (click)="handleNewUserClick()"
      aria-label="Add friend button"
      matTooltip="Add a Friend"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <div class="content">
    <div
      *ngFor="let user of users$ | async; trackBy: trackByID"
      [routerLink]="['/user', user.id]"
      class="user-summary-wrapper"
    >
      <app-user-summary [userData]="user"></app-user-summary>
    </div>
  </div>
</section>
