<div class="dialog-form-container --connection">
  <h2 mat-dialog-title>New Connection</h2>
  <form
    class="form --connection"
    [formGroup]="ConnectionFormGroup"
    (ngSubmit)="handleFormSubmit()"
  >
    <mat-form-field>
      <mat-label>Friend</mat-label>
      <mat-select formControlName="person1">
        <mat-option
          *ngFor="let user of (options$ | async).p1Options"
          [value]="user.id"
        >
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Friend</mat-label>
      <mat-select formControlName="person2">
        <mat-option *ngFor="let user of users$ | async" [value]="user.id">
          {{ user.name }}
        </mat-option>
      </mat-select>
      
    </mat-form-field>
    <mat-error *ngIf="alreadyConnected$ | async">
      These two are already connected!
    </mat-error>
    <div class="sub-form-box button-box">
      <button
        mat-stroked-button
        type="button"
        color="link"
        (click)="discardFormClick()"
      >
        Discard
      </button>
      <button
        mat-raised-button
        color="accent"
        [disabled]="ConnectionFormGroup.invalid || (alreadyConnected$ | async)"
      >
        {{ submitButtonText }}
      </button>
    </div>
  </form>
</div>
<!-- matNativeControl -->
